{% extends 'base.html.twig' %}

{% block title %}password reset{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <form method="post" action="{{ path('reset_password_action') }}">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-error fade in" role="alert">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-error fade in" role="alert">
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">password</h1>

        <label for="CurrentPassword">Password</label>
        <input type="password" name="CurrentPassword" id="CurrentPassword" class="form-control" autocomplete="current-password" required>

        <label for="newPassword">newPassword</label>
        <input type="password" name="newPassword" id="newPassword" class="form-control" autocomplete="current-password" required>


        <label for="confirmPassword">confirmPassword</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-lg btn-primary" type="submit">
            Update
        </button>
    </form>
{% endblock %}
