
{% extends 'base.html.twig' %}
{% block navbar %}
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{{ path('reset_password') }}">ResetPassword</a>
    <a class="navbar-brand" href="{{ path('app_logout') }}">logout</a>
</nav>
{% endblock %}
