
{% extends 'base.html.twig' %}
{% block navbar %}

<style>
    .active
    {
        font-weight: bold;
        background-color: silver;
  }
</style>


    <ul class="nav navbar-nav">
        <li class="{% if app.request.attributes.get('_route') == 'review' %}active{% endif %}">
            <a href="{{ path('review') }}">Home</a>
        </li>

        <li class="{% if app.request.attributes.get('_route') == 'reset_password' %}active{% endif %}">
            <a href="{{ path('reset_password') }}">Reset Password</a>
        </li>

        <li class="{% if app.request.attributes.get('_route') == 'app_logout' %}active{% endif %}">
            <a href="{{ path('app_logout') }}">Logout</a>
        </li>
    </ul>


{% endblock %}
